table
{
    border-collapse:separate;
    border-spacing: 0 1em !important;
}
th, td
{
    padding: 0.7em 1em;
}
input, select{
    background-color: #f8f8f8 !important;
}

/** HEADER **/
thead tr th{
    background: #f8f8f8;
    color: #d23f29;
}
thead tr th:first-child
{
    border-radius: 0.6em 0 0 0.6em;
}
thead th:nth-child(2)
{
    border-radius: 0 0 0 0;
}
thead th:nth-child(3)
{
    border-radius: 0 0 0 0;
}
thead th:nth-child(4)
{
    border-radius: 0 0 0 0;
}
thead th:nth-child(5)
{
    border-radius: 0 0.6em 0.6em 0;
}

/** BODY **/
tbody tr td{
    background: #f8f8f8;
    color: #d23f29;
}
tbody tr td:first-child
{
    border-radius: 0.6em 0 0 0.6em;

}
tbody td:nth-child(2)
{
    border-radius: 0 0 0 0;
}
tbody td:nth-child(3)
{
    border-radius: 0 0 0 0;
}
tbody td:nth-child(4)
{
    border-radius: 0 0 0 0;
}
tbody td:nth-child(5)
{
    border-radius: 0 0.6em 0.6em 0;
}

/** HOVER EFFECT **/
tbody tr:hover td{
    background: #eae0e0;
    color: #fc8777;
}
tbody tr:hover td:first-child
{
    border-radius: 0.6em 0 0 0.6em;
}
tbody tr:hover td:nth-child(2)
{
    border-radius: 0 0 0 0;
}
tbody tr:hover td:nth-child(3)
{
    border-radius: 0 0 0 0;
}
tbody tr:hover td:nth-child(4)
{
    border-radius: 0 0 0 0;
}
tbody tr:hover td:nth-child(5)
{
    border-radius: 0 0.6em 0.6em 0;
}